:root {
  --font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5fa;
  padding-left: 20px;
  padding-right: 20px;
}

img {
  width: 100%;
}

div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a,
button,
input {
  font-family: var(--font-family);
}

section {
  max-width: 1096px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  body {
    padding-left: 46px;
    padding-right: 46px;
  }
}
